/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  justify-content: center;
  background: #f1f1f1;
  font-size: 16px;
  font-family: 'Noto Sans KR', sans-serif;
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  position: relative;
}

/* Header Text */
.header-text {
  width: 70%;
  margin: 8vh auto 20px auto;
  /* Auto margin centers block elements */
  text-align: center;
  margin-bottom: 20px;
}

.header-text h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.header-text p {
  font-size: 0.8rem;
  text-transform: none;
  color: #333;
}

/* Input Container */
.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40vw;
  border-radius: 10px;
  gap: 10px;
}

.iterations-row {
  display: flex;
  flex-direction: row;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border-radius: 10px;
  margin: 20px 0;
  overflow: hidden;
}

.progress {
  height: 100%;
  background: hsl(152, 83%, 30%);
  width: 0;
  transition: width 0.3s ease;
}

.error-box {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  color: black;
  font-size: 0.8rem;
  text-align: center;
}

.live-speed {
  margin-top: 20px;
  text-align: center;
  font-size: 1.2rem;
}

.live-speed.hidden {
  display: none;
}

.unit-toggle {
  margin-top: 10px;
}

.unit-toggle button {
  padding: 5px 10px;
  background: #e61618;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Speedometer Animation */
.speedometer {
  /*margin-top: 20px;*/
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  /* color: #00ff88;*/
  color: lightgray;
}

.speedometer-display {
  display: inline-block;
  /* padding: 10px 20px;*/
  /*background: rgba(0, 0, 0, 0.8);*/
  /* border-radius: 10px;*/
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);*/
}

#speedometer-value {
  font-size: 6.5rem;
  transition: all 0.3s ease;
}

#speedometer-unit {
  font-size: 1.5rem;
  margin-left: 5px;
}

/* Result Container */
/* Result Container */
.result-container {
  width: 90%;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  /* Center the container */
  display: none;
}

.result-container h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}


.result-container.visible {
  display: block;
}

#copy-to-clipboard {
  display: block;
  margin: 20px auto;
  /* Centers horizontally */
  text-align: center;
}

/* Network Details and Average Results */


.network-details,
.average-result {
  margin-bottom: 20px;
}

.network-details h3,
.average-result h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

.network-details p,
.average-result p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

/* Detailed Results */
#detailed-results {
  margin-bottom: 20px;
}

#detailed-results h3 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #333;
}

#detailed-results p {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #555;
}

.result-container.visible {
  display: block;
  margin-top: 20px;
}


button {
  padding: 10px 20px;
  background: #e61618;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  transform: scale(1.05);
}

#toggle-unit {
  background: #00ff88;
  color: #333;
}

#toggle-unit:hover {
  background: #00cc66;
}


.social-handle {
	position: fixed;
	/* Fix it to the screen */
	bottom: 20px;
	/* Distance from the bottom of the page */
	right: 20px;
	/* Distance from the right of the page */
	display: block;
	/* Hide initially */
	justify-content: space-around;
	align-items: center;
	gap: 4px;
	z-index: 10;
	/* Ensure it's on top of other content */
}

.social-handle a {
	display: inline-block;
}

.social-handle i {
	font-size: 15px;
	color: #333;
	/* Default color for icons */
	border: 0.5px solid #000;
	border-radius: 50%;
	padding: 4px;
	transition: all 0.3s ease;
}

.social-handle i:hover {
	color: #ff2759;
	/* Hover color */
	border-color: #ff2759;
	/* Hover border color */
	transform: scale(1.4);
	/* Increase the size by 20% */
	z-index: 20;
	/* Ensure the hovered icon is on top */
}


/* Specific color for each icon */
.fa-facebook {
	color: #3b5998 !important;
	/* Facebook blue */
}

.fa-twitter {
	color: #1da1f2 !important;
	/* Twitter blue */
}

.fa-instagram {
	color: #e4405f !important;
	/* Instagram pinkish red */
}

.fa-youtube {
	color: #ff0000 !important;
	/* YouTube red */
}

.fa-linkedin {
	color: #0077b5 !important;
	/* LinkedIn blue */
}

/* Donate Me Section */
.donate-me {
  width: 80%;
  text-align: center;
  padding-bottom: 2vh;
  margin: 0 auto; /* Centers it horizontally */

}

.donate-me h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333;
}

.donate-me p {
  font-size: 0.8rem;
  text-transform: none;
  color: #555;
  margin-bottom: 20px;
}

.donate-me img {
  width: 100px;
  height: auto;
  transition: transform 0.3s ease;
}

.donate-me img:hover {
  transform: scale(1.1);
}

.footer {
  margin-top: 5vh;
  height: 7vh;
  font-weight: 400;
  font-size: 0.7rem;
  text-align: center;
}

/* Mobile Layout */
@media (max-width: 768px) {

  .menu-btn{
    right: -2rem !important;;
  }

  .header-text h1 {
    font-size: 1.5rem;
  }

  .header-text p {
    font-size: 1.2rem;
  }

  .input-container {
    width: 90vw;
    padding: 10px;
  }

  #speedometer-value {
    font-size: 5rem;
  }

  .iterations-row {
    flex-direction: column;
    width: 55vw;
    overflow: hidden;
  }

  .form-class {
    text-align: center;
  }

  .label-iterations {
    display: block;
    text-align: center;
  }

  #iterations {
    font-size: 2rem;
    text-align: center;
  }

  button,
  input {
    min-width: 50vw !important;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .header-text p {
    font-size: 0.8rem;
  }

  .error-box {
    display: block;
    text-align: center; /* Centers the text inside */
    margin: 20px auto; /* Centers the div */
    width: fit-content; /* Adjust width to fit content */
    padding: 10px 20px; /* Add some spacing */
  }
  
  .social-handle {
    flex-direction: column;
  }

  .result-container {
    margin-top: 20vh;
  }


.donate-me h3 {
  font-size: 1.2rem;

}

.donate-me p {
  font-size: 1rem;
}

}

